<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>

    </style>
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/products-base.css') }}"> #}

    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto"> #}
    
</head>
<body>
<header>
    {% block header %}
      Information Area
    {% endblock header %}
</header>
    {% block body %}

    {% endblock %}
</body>
<footer>
    {% block footer %}
    
    {% endblock footer %}
</footer>
</html>