.header {
    /* position: fixed;  */
    height: 50px; 
    width: 100%;
    background-color: dodgerblue; 
    color: white; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about-block {
    padding-top: 13%;
}

.bg-dodgerblue {
    background-color:  dodgerblue;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.nav-link {
    color: rgb(255,255,255,0.65);
}

.navbar-nav .nav-link.active {
    color: white;
}

.nav-link:hover {
    color: white;
}

.list-users-mb-navbar {
    margin-bottom: 100px;
}

.dn {
    display: none;
}